# Finding Key Values pairs for Dictionary

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('sentiment_score.csv')
data.head()

,ProductID,UserID,Rating,Text,Clean_Text,Polarity of Feedback
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.,"['Great', 'taffy', 'great', 'price', '.']",0.800000
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...,"['Absolutely', 'wonderful', '-', 'silky', 'sex...",0.633333
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.,"['Love', 'dress', '!', ""'s"", 'sooo', 'pretty',...",0.437500
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...,"['I', 'high', 'hopes', 'dress', 'really', 'wan...",0.180000
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl...","['I', 'love', ',', 'love', ',', 'love', 'jumps...",0.550000

### Dropping Clean_Text Col

In [3]:
data = data.drop(['Clean_Text'], axis=1)
data.head()

,ProductID,UserID,Rating,Text,Polarity of Feedback
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.,0.800000
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...,0.633333
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.,0.437500
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...,0.180000
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000

### Adding New Col

In [4]:
data['Updated_score'] = data['Rating']*data['Polarity of Feedback']
data.head()

,ProductID,UserID,Rating,Text,Polarity of Feedback,Updated_score
0,777,AV1YnR7wglJLPUi8IJmi,4,Great taffy at a great price.,0.800000,3.200000
1,767,AVpfpK8KLJeJML43BCuD,4,Absolutely wonderful - silky and sexy and comf...,0.633333,2.533333
2,1080,AVqkIdntQMlgsOJE6fuB,5,Love this dress! it's sooo pretty.,0.437500,2.187500
3,1077,AVpfpK8KLJeJML43BCuD,3,I had such high hopes for this dress and reall...,0.180000,0.540000
4,1049,AVpfpK8KLJeJML43BCuD,5,"I love, love, love this jumpsuit. it's fun, fl...",0.550000,2.750000

### Finding Key-Val Pairs

In [5]:
dict1 = {1:[-5, -4, -4.25, -4.50, -4.75, -3.75, -3.25, -3.50, -3], 
         2:[-2.75, -2.50, -2.25, -2, -1.75, -1.50, -1.25, -1], 
         3:[-0.75, -0.50, -0.25, 0, 0.25, 0.50, 0.75, 1], 
         4:[1.75, 1.50, 1.25, 2, 2.75, 2.50, 2.25, 3], 
         5:[3.75, 3.50, 3.25, 4, 4.75, 4.50, 4.25, 5]}