# List

### 1: append()

In [1]:
Fruits = ['Mango', 'Pineapple', 'Grapes', 'Watermelon']
print(Fruits)

['Mango', 'Pineapple', 'Grapes', 'Watermelon']

In [3]:
Fruits.append('Banana')
print(Fruits)

['Mango', 'Pineapple', 'Grapes', 'Watermelon', 'Banana']

### 2: insert()

In [4]:
Subjects = ['English', 'Maths', 'Java', 'Python']
print(Subjects)

['English', 'Maths', 'Java', 'Python']

In [5]:
Subjects.insert(2, 'Scala')
print(Subjects)

['English', 'Maths', 'Scala', 'Java', 'Python']

### 3: sum()

In [7]:
Scores = [1, 3, 8, 5, 6]
print(sum(Scores))

Bill = [56.89, 78.02, 69, 48.34]
print(sum(Bill))

23
252.25

### 4: count()

In [9]:
my_list = [1, 2, 5, 7, 9, 1, 1, 4, 6, 7, 3]

# Counting occurence of element 1 in the list
print(my_list.count(1))

# Counting occurence of element 7 in the list
print(my_list.count(7))

3
2

### 5: Slicing and Indexing

In [17]:
list = [10, 20, 30, 40, 50, 60]
print(list[1:6:2])

print(list[:])   # Will print whole list

[20, 40, 60]
[10, 20, 30, 40, 50, 60]

# Set

### 1: add()

In [19]:
friends = {"Joe", "Rachel", "Monika"}
print(friends)

#updated set
friends.add("Ross")
print(friends)

{'Monika', 'Joe', 'Rachel'}
{'Monika', 'Ross', 'Joe', 'Rachel'}

### 2: union()

In [21]:
family = {"abc", "xyz", "pqr"}
people = {"p", "o", "r"}

# Union using union() function
human_being = family.union(people)
print(human_being)

# Union using '|' operator
public = family|people
print(public)

{'xyz', 'abc', 'p', 'r', 'pqr', 'o'}
{'xyz', 'abc', 'p', 'r', 'pqr', 'o'}

### 3: Difference

In [24]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

set3 = set1.difference(set2)

print(set3)

{1, 2, 3}

### 4: clear()

In [3]:
my_set = {10, 20, 30, 40, 50, 60}

my_set.clear()
print(my_set)   # set after using clear() function

set()

### 5: remove()

In [4]:
set1 = {2, 4, 5, 6, 8, 10}
set1.remove(5)

print(set1)

{2, 4, 6, 8, 10}

# Dictionaries

### 1: Adding element to the dictionary

In [5]:
fruits = {0: 'apple', 1: 'banana', 2: 'grapes'}

# adding new element to the dictionary
fruits[4] = 'strawberries'
print(fruits)

{0: 'apple', 1: 'banana', 2: 'grapes', 4: 'strawberries'}

### 2: Removing element from the dictionary

In [7]:
cities = {1: 'Mumbai', 2: 'Delhi', 3: 'Calcutta', 4: 'Udaipur'}

# removing specific element from the dictionary with the help of del function
del cities[2]
print(cities)

{1: 'Mumbai', 3: 'Calcutta', 4: 'Udaipur'}

### 3: get()

In [10]:
get_method = {'a': 1234, 'b': 3456, 'c': 5674}
print(get_method.get('a'))
print(get_method.get('d')) # will print none bcoz this key is not included in the dictionary.

1234
None

### 4: Accessing element from the dictionary

In [12]:
greets = {1: 'Hello', 2: 'Bonjour', 3: 'Hola'}

# accessing element by using key
print(greets[2])

Bonjour

### 5: popitem()

In [14]:
my_dict = {1: 'Hello', 2: 'Everyone', 3: 'have', 4: 'a', 5: 'great', 6: 'day'}

pop_element = my_dict.popitem()
print(f"The new dictionary is: {my_dict}")
print(f"Items that arbitrarily popped from the dictionary is: {pop_element}")

The new dictionary is: {1: 'Hello', 2: 'Everyone', 3: 'have', 4: 'a', 5: 'great'}
Items that arbitrarily popped from the dictionary is: (6, 'day')

# Tuples

### 1: len()

In [15]:
tuple1 = (9, 3, 0, 5, 9)
print(len(tuple1))

5

### 2: type()

In [16]:
cookie_flavor = ('vanilla', 'chocolate', 'blueberry', 'blackcurrent')
print(type(cookie_flavor))

<class 'tuple'>

### 3: Accessing tuple element

In [18]:
tup = ('cars', 3, True, 4, False, 'bike')
print(tup[-3])

4

### 4: Updating element inside the tuple

In [21]:
# As we know, tuples are immutable or unchangeable. We cannot update elements of the tuples.
# All we can do is to convert the tuple into the list, update it and then again convert it back to the tuple.

item = ('cheeries', 'apple', 'banana')
item_into_list = list(item)
item_into_list[2] = 'pineapple'
item = tuple(item_into_list)
print(item) # thus we get changed items

('cheeries', 'apple', 'pineapple')

### 5: Joining two tuples

In [22]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
tup3 = (7, 8, 9)

new_tuple = tup1 + tup2 + tup3
print(new_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)